<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner4.jpeg") %>);">
  <div>
    <h1>FindMySkipper <strong>will find</strong> your <strong>skipper</strong> !</h1>
    <p>Enjoy your sailing holidays while a skipper takes care of the rest.</p>
  </div>
</div>
<%= render "shared/grid", listings: @listings %>
