.card-grid {
  display: flex;
  margin: 0 auto;
  background-color: #7db9b3;
}

.card-main-image {
  display: flex;
  width: 40%;
}

.card-main-image img {
  width: 100%;
  border-radius: 10px;
}

.card-smaller-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 60%;
  gap: 10px;
}

.card-smaller-images img {
  height: 200px;
  flex: 1 0 40%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 0px;
}

h2 {
  margin-left: 20px;
  color: #166678;
}

.calendar-start, .calendar-end, .booking-placing {
  border: 2px solid black;
  height: 200px;
  width: 400px;
  margin: 10px;
}

.calendar-booking-details {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.card-booking-details > h2 {
  margin: 15px;
}

.button-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #166678;;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#back {
  background-color: #7db9b3;
}

.destroy-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-link.destroy-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.card-product {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 25px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
