.card-listing {
  overflow: hidden;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 5px;

   &:hover {
    box-shadow: 0 10px 25px rgba(210, 208, 208, 0.8);
    transition: 0.3s;
  }
  }


.card-listing > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

 &:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(210, 208, 208, 0.8);
  transition: 0.3s;
 }
}

.card-listing h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #166678;
}

.card-listing p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}



.card-listing-infos button {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: #166678;
  border-color: white;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: #7db9b3;
  }
}

.card-listing .card-listing-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-listing-infos .card-listing-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.container {
  display: flex;
  justify-content: center;
}
